# Compiled class file
*.class

# Log file
logs/
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Build Directory
*/build/*
*/target/**

# Intellij and Gradle Settings
*.iml
.idea/
.gradle/

